.Ad_Products_Card_Container {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e101a;
  margin: 10px 0px;
  border-radius: 10px;
  padding: 0 10px;
}
.Ad_Products_Card_Container  button{
  background-color: #171923;
}

.Ad_Products_Card_Container > :nth-child(1) {
  width: 70px;
}
.Ad_Products_Card_Container > :nth-child(1) > img {
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
.Ad_Products_Card_Container > :nth-child(1) > img:hover {
  transform: scale(1.5);
  border-radius: 10px;
}

/* body:hover .Ad_Products_Card_Container > :nth-child(1) > img(:hover){
    filter: blur(4px) !important;
} */

.Ad_Products_Card_Container > :nth-child(2) {
  width: 50%;
  /* border: 2px solid yellow; */
}
.Ad_Products_Card_Container > :nth-child(2) > p:first-child{
  /* border: 1px solid blue; */
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: 600;
  color:#a2a1a2;
}
.Ad_Products_Card_Container > :nth-child(2) > p:nth-child(3){
  /* border: 1px solid blue; */
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: 600;
  color:#a2a1a2;
}


.Ad_Products_Card_Container > :nth-child(3) {
  width: 20%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-between;
}
